@import '../../../../../../styles/variables';
@import '../../../../../../styles/dev-utilities/helpers';

.custom-day-time-slices {
	.heading-day-choice {
		font-size: 1.25rem;
		line-height: 1.25rem;
		color: $d-black;
		font-weight: 700;
		margin-bottom: 1rem;
	}
}

.time-slice-list-of-a-day {
	label {
		line-height: 2.25rem;
		margin-bottom: 0;
	}

	input {
		width: calc(100% - 40px);
		margin-bottom: 1rem;
	}

	.button {
		color: $primary_color;

		.icon {
			margin-right: 1rem;
			fill: $primary_color;
		}
	}

	#close_dialog {
		border: 0;
		color: $primary !important;

		.icon {
			margin-left: 1rem;
			height: 1.5em;
			width: 1.5em;
		}
	}

	.add-time-choice {
		margin-top: 0;
		font-size: 16px;
		line-height: 20px;
		button {
			justify-content: inherit;
			background-color: transparent;
			background-position: 0;
			padding: 0.5rem 0.5rem 0.5rem 2rem;
		}
	}

	.delete-hour {
		background-position: center;
		background-size: 20px 20px;
		font-size: 0.8rem;
		width: 40px;
		padding: 0;
		float: right;
		margin-top: 0;
		margin-right: -4px;
		height: 40px;
	}
}
#add_time_button {
	padding-left: 40px;
	background-position: left;
	background-size: 20px 20px;
}
