<div class="feedback-container">
	<div class="feedback-choices" *ngIf="isOpen" [ngClass]="{ active: isOpen }">
		<a class="link" href="mailto:contact@cipherbliss.com">
			<i class="fa fa-mail-forward"></i>
			Par email
		</a>
		<a class="link" href="https://riot.im/app/#/room/#framadate:matrix.org">
			<i class="fa fa-matrix-org"></i>
			Par Matrix
		</a>
		<a class="link" href="https://framateam.org/ux-framatrucs/channels/framadate">
			<i class="fa fa-comments"></i>
			Discuter sur Framateam
		</a>
		<a class="link" href="https://framagit.org/framasoft/framadate/funky-framadate-front">
			<i class="fa fa-gitlab"></i>
			Créer une Issue sur Framagit
		</a>
	</div>
	<div class="button" (click)="isOpen = !isOpen" [ngClass]="{ active: isOpen }">
		<i class="fa fa-comment"></i> feedback
	</div>
</div>
